<launch>
<param name="name" value="regi_node"/>
<param name="do_registration_threshold" type="int" value="700" />
<param name="visualization_choice_" type="string" value="visualize" />
<param name="groundtruth_csv_file_address_" type="string" value="/home/zhaozhong/dataset/euroc/MH_03_medium/state_groundtruth_estimate0/data.csv" />
<node name="regi_node" pkg = "data_registration" type = "regi_node" output="screen">
</node>
</launch>
