<launch>
<param name="name" value="regi_node"/>
<param name="do_registration_threshold" type="int" value="9999" />
<param name="visualization_choice_" type="string" value="visualize" />
<param name="groundtruth_csv_file_address_" type="string" value="/home/zhaozhong/dataset/eth/table_3/table_3_mono/table_3/groundtruth.txt" />
<node name="regi_node" pkg = "data_registration" type = "regi_node" output="screen">
</node>
</launch>
